<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>azimuth</key>
	<array>
		<string>left-side</string>
		<string>far-left</string>
		<string>left</string>
		<string>center-left</string>
		<string>center</string>
		<string>center-right</string>
		<string>right</string>
		<string>far-right</string>
		<string>right-side</string>
		<string>behind</string>
		<string>leftwards</string>
		<string>rightwards</string>
		<string>inherit</string>
	</array>
	<key>background</key>
	<array>
		<string>url(img/)</string>
		<string>url(../images/)</string>
		<string>url()</string>
		<string>scroll</string>
		<string>fixed</string>
		<string>transparent</string>
		<string>none</string>
		<string>top</string>
		<string>center</string>
		<string>bottom</string>
		<string>left</string>
		<string>right</string>
		<string>repeat</string>
		<string>repeat-x</string>
		<string>repeat-y</string>
		<string>no-repeat</string>
		<string>inherit</string>
		<string>@color</string>
		<string>rgba()</string>
		<string>-webkit-gradient()</string>
		<string>-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#000))</string>
		<string>-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#000), color-stop(.5,#666))</string>
		<string>-moz-linear-gradient()</string>
		<string>-moz-linear-gradient(0% 100% 90deg,#000, #fff)</string>
		<string>-moz-linear-gradient(0% 100% 90deg,#000, #666, #fff 100%)</string>
	</array>
	<key>background-attachment</key>
	<array>
		<string>scroll</string>
		<string>fixed</string>
		<string>inherit</string>
	</array>
	<key>background-color</key>
	<array>
		<string>@color</string>
		<string>rgba()</string>
		<string>inherit</string>
	</array>
	<key>background-image</key>
	<array>
		<string>url(../img/)</string>
		<string>url(../images/)</string>
		<string>url()</string>
		<string>none</string>
		<string>inherit</string>
		<string>-webkit-gradient()</string>
		<string>-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#000))</string>
		<string>-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#000), color-stop(.5,#666))</string>
		<string>-moz-linear-gradient()</string>
		<string>-moz-linear-gradient(0% 100% 90deg,#000, #fff)</string>
		<string>-moz-linear-gradient(0% 100% 90deg,#000, #666, #fff 100%)</string>
	</array>
	<key>background-position</key>
	<array>
		<string>top</string>
		<string>center</string>
		<string>bottom</string>
		<string>left</string>
		<string>right</string>
		<string>inherit</string>
	</array>
	<key>background-repeat</key>
	<array>
		<string>repeat</string>
		<string>repeat-x</string>
		<string>repeat-y</string>
		<string>no-repeat</string>
		<string>inherit</string>
	</array>
	<key>border</key>
	<array>
		<string>@color</string>
		<string>rgba()</string>
		<string>none</string>
		<string>hidden</string>
		<string>dotted</string>
		<string>dashed</string>
		<string>solid</string>
		<string>double</string>
		<string>groove</string>
		<string>ridge</string>
		<string>inset</string>
		<string>outset</string>
		<string>thin</string>
		<string>medium</string>
		<string>thick</string>
		<string>inherit</string>
	</array>
	<key>border-bottom</key>
	<array>
		<string>@color</string>
		<string>none</string>
		<string>hidden</string>
		<string>dotted</string>
		<string>dashed</string>
		<string>solid</string>
		<string>double</string>
		<string>groove</string>
		<string>ridge</string>
		<string>inset</string>
		<string>outset</string>
		<string>thin</string>
		<string>medium</string>
		<string>thick</string>
		<string>inherit</string>
	</array>
	<key>border-bottom-color</key>
	<array>
		<string>@color</string>
		<string>rgba()</string>
		<string>inherit</string>
	</array>
	<key>border-bottom-style</key>
	<array>
		<string>none</string>
		<string>hidden</string>
		<string>dotted</string>
		<string>dashed</string>
		<string>solid</string>
		<string>double</string>
		<string>groove</string>
		<string>ridge</string>
		<string>inset</string>
		<string>outset</string>
		<string>inherit</string>
	</array>
	<key>border-bottom-width</key>
	<array>
		<string>thin</string>
		<string>medium</string>
		<string>thick</string>
		<string>inherit</string>
	</array>
	<key>border-collapse</key>
	<array>
		<string>collapse</string>
		<string>separate</string>
		<string>inherit</string>
	</array>
	<key>border-color</key>
	<array>
		<string>@color</string>
		<string>rgba()</string>
		<string>inherit</string>
	</array>
	<key>border-left</key>
	<array>
		<string>@color</string>
		<string>rgba()</string>
		<string>none</string>
		<string>hidden</string>
		<string>dotted</string>
		<string>dashed</string>
		<string>solid</string>
		<string>double</string>
		<string>groove</string>
		<string>ridge</string>
		<string>inset</string>
		<string>outset</string>
		<string>thin</string>
		<string>medium</string>
		<string>thick</string>
		<string>inherit</string>
	</array>
	<key>border-left-color</key>
	<array>
		<string>@color</string>
		<string>rgba()</string>
		<string>inherit</string>
	</array>
	<key>border-left-style</key>
	<array>
		<string>none</string>
		<string>hidden</string>
		<string>dotted</string>
		<string>dashed</string>
		<string>solid</string>
		<string>double</string>
		<string>groove</string>
		<string>ridge</string>
		<string>inset</string>
		<string>outset</string>
		<string>inherit</string>
	</array>
	<key>border-left-width</key>
	<array>
		<string>thin</string>
		<string>medium</string>
		<string>thick</string>
		<string>inherit</string>
	</array>
	<key>border-right</key>
	<array>
		<string>@color</string>
		<string>rgba()</string>
		<string>none</string>
		<string>hidden</string>
		<string>dotted</string>
		<string>dashed</string>
		<string>solid</string>
		<string>double</string>
		<string>groove</string>
		<string>ridge</string>
		<string>inset</string>
		<string>outset</string>
		<string>thin</string>
		<string>medium</string>
		<string>thick</string>
		<string>inherit</string>
	</array>
	<key>border-right-color</key>
	<array>
		<string>@color</string>
		<string>rgba()</string>
		<string>inherit</string>
	</array>
	<key>border-right-style</key>
	<array>
		<string>none</string>
		<string>hidden</string>
		<string>dotted</string>
		<string>dashed</string>
		<string>solid</string>
		<string>double</string>
		<string>groove</string>
		<string>ridge</string>
		<string>inset</string>
		<string>outset</string>
		<string>inherit</string>
	</array>
	<key>border-right-width</key>
	<array>
		<string>thin</string>
		<string>medium</string>
		<string>thick</string>
		<string>inherit</string>
	</array>
	<key>border-spacing</key>
	<array>
		<string>inherit</string>
	</array>
	<key>border-style</key>
	<array>
		<string>none</string>
		<string>hidden</string>
		<string>dotted</string>
		<string>dashed</string>
		<string>solid</string>
		<string>double</string>
		<string>groove</string>
		<string>ridge</string>
		<string>inset</string>
		<string>outset</string>
		<string>inherit</string>
	</array>
	<key>border-top</key>
	<array>
		<string>@color</string>
		<string>rgba()</string>
		<string>none</string>
		<string>hidden</string>
		<string>dotted</string>
		<string>dashed</string>
		<string>solid</string>
		<string>double</string>
		<string>groove</string>
		<string>ridge</string>
		<string>inset</string>
		<string>outset</string>
		<string>thin</string>
		<string>medium</string>
		<string>thick</string>
		<string>inherit</string>
	</array>
	<key>border-top-color</key>
	<array>
		<string>@color</string>
		<string>rgba()</string>
		<string>inherit</string>
	</array>
	<key>border-top-style</key>
	<array>
		<string>none</string>
		<string>hidden</string>
		<string>dotted</string>
		<string>dashed</string>
		<string>solid</string>
		<string>double</string>
		<string>groove</string>
		<string>ridge</string>
		<string>inset</string>
		<string>outset</string>
		<string>inherit</string>
	</array>
	<key>border-top-width</key>
	<array>
		<string>thin</string>
		<string>medium</string>
		<string>thick</string>
		<string>inherit</string>
	</array>
	<key>border-width</key>
	<array>
		<string>thin</string>
		<string>medium</string>
		<string>thick</string>
		<string>inherit</string>
	</array>
	<key>bottom</key>
	<array>
		<string>auto</string>
		<string>inherit</string>
	</array>
	<key>caption-side</key>
	<array>
		<string>top</string>
		<string>bottom</string>
		<string>left</string>
		<string>right</string>
		<string>inherit</string>
	</array>
	<key>clear</key>
	<array>
		<string>none</string>
		<string>left</string>
		<string>right</string>
		<string>both</string>
		<string>inherit</string>
	</array>
	<key>clip</key>
	<array>
		<string>auto</string>
		<string>inherit</string>
	</array>
	<key>color</key>
	<array>
		<string>@color</string>
		<string>rgba()</string>
		<string>inherit</string>
	</array>
	<key>content</key>
	<array>
		<string>open-quote</string>
		<string>close-quote</string>
		<string>no-open-quote</string>
		<string>no-close-quote</string>
		<string>inherit</string>
	</array>
	<key>counter-increment</key>
	<array>
		<string>none</string>
		<string>inherit</string>
	</array>
	<key>counter-reset</key>
	<array>
		<string>none</string>
		<string>inherit</string>
	</array>
	<key>cue</key>
	<array>
		<string>inherit</string>
	</array>
	<key>cue-after</key>
	<array>
		<string>none</string>
		<string>inherit</string>
	</array>
	<key>cue-before</key>
	<array>
		<string>none</string>
		<string>inherit</string>
	</array>
	<key>cursor</key>
	<array>
		<string>auto</string>
		<string>crosshair</string>
		<string>default</string>
		<string>pointer</string>
		<string>move</string>
		<string>e-resize</string>
		<string>ne-resize</string>
		<string>nw-resize</string>
		<string>n-resize</string>
		<string>se-resize</string>
		<string>sw-resize</string>
		<string>s-resize</string>
		<string>w-resize</string>
		<string>text</string>
		<string>wait</string>
		<string>help</string>
		<string>inherit</string>
	</array>
	<key>direction</key>
	<array>
		<string>ltr</string>
		<string>rtl</string>
		<string>inherit</string>
	</array>
	<key>display</key>
	<array>
		<string>inline</string>
		<string>block</string>
		<string>list-item</string>
		<string>run-in</string>
		<string>compact</string>
		<string>marker</string>
		<string>table</string>
		<string>inline-block</string>
		<string>-moz-inline-block</string>
		<string>inline-table</string>
		<string>table-row-group</string>
		<string>table-header-group</string>
		<string>table-footer-group</string>
		<string>table-row</string>
		<string>table-column</string>
		<string>table-cell</string>
		<string>table-caption</string>
		<string>none</string>
		<string>inherit</string>
	</array>
	<key>elevation</key>
	<array>
		<string>below</string>
		<string>level</string>
		<string>above</string>
		<string>higher</string>
		<string>lower</string>
		<string>inherit</string>
	</array>
	<key>empty-cells</key>
	<array>
		<string>show</string>
		<string>hide</string>
	</array>
	<key>float</key>
	<array>
		<string>left</string>
		<string>right</string>
		<string>none</string>
	</array>
	<key>font</key>
	<array>
		<string>inherit</string>
		<string>caption</string>
		<string>icon</string>
		<string>menu</string>
		<string>message-box</string>
		<string>small-caption</string>
		<string>status-bar</string>
		<string>inherit</string>
	</array>
	<key>font-family</key>
	<array>
		<string>Arial</string>
		<string>Baskerville</string>
		<string>Calibri</string>
		<string>Cambria</string>
		<string>Consolas</string>
		<string>Courier</string>
		<string>Futura</string>
		<string>Garamond</string>
		<string>Geneva</string>
		<string>Geneva</string>
		<string>Georgia</string>
		<string>GillSans</string>
		<string>Haettenschweiler</string>
		<string>Helvetica</string>
		<string>&quot;Helvetica-Neue&quot;</string>
		<string>Impact</string>
		<string>Optima</string>
		<string>Palatino</string>
		<string>Tahoma</string>
		<string>Times</string>
		<string>Verdana</string>
		<string>serif</string>
		<string>sans-serif</string>
		<string>cursive</string>
		<string>fantasy</string>
		<string>monospace</string>
		<string>inherit</string>
	</array>
	<key>font-size</key>
	<array>
		<string>62.5%</string>
		<string>xx-small</string>
		<string>x-small</string>
		<string>small</string>
		<string>medium</string>
		<string>large</string>
		<string>x-large</string>
		<string>xx-large</string>
	</array>
	<key>font-size-adjust</key>
	<array>
		<string>none</string>
		<string>inherit</string>
	</array>
	<key>font-stretch</key>
	<array>
		<string>normal</string>
		<string>wider</string>
		<string>narrower</string>
		<string>ultra-condensed</string>
		<string>extra-condensed</string>
		<string>condensed</string>
		<string>semi-condensed</string>
		<string>semi-expanded</string>
		<string>expanded</string>
		<string>extra-expanded</string>
		<string>ultra-expanded</string>
		<string>inherit</string>
	</array>
	<key>font-style</key>
	<array>
		<string>normal</string>
		<string>italic</string>
		<string>oblique</string>
		<string>inherit</string>
	</array>
	<key>font-variant</key>
	<array>
		<string>normal</string>
		<string>small-caps</string>
		<string>inherit</string>
	</array>
	<key>font-weight</key>
	<array>
		<string>normal</string>
		<string>bold</string>
		<string>bolder</string>
		<string>lighter</string>
		<string>100</string>
		<string>200</string>
		<string>300</string>
		<string>400</string>
		<string>500</string>
		<string>600</string>
		<string>700</string>
		<string>800</string>
		<string>900</string>
		<string>inherit</string>
	</array>
	<key>height</key>
	<array>
		<string>auto</string>
		<string>inherit</string>
	</array>
	<key>left</key>
	<array>
		<string>auto</string>
		<string>inherit</string>
	</array>
	<key>letter-spacing</key>
	<array>
		<string>normal</string>
		<string>inherit</string>
	</array>
	<key>line-height</key>
	<array>
		<string>normal</string>
		<string>inherit</string>
	</array>
	<key>list-style</key>
	<array>
		<string>none</string>
		<string>inside</string>
		<string>outside</string>
		<string>disc</string>
		<string>circle</string>
		<string>square</string>
		<string>decimal</string>
		<string>decimal-leading-zero</string>
		<string>lower-roman</string>
		<string>upper-roman</string>
		<string>lower-greek</string>
		<string>lower-alpha</string>
		<string>lower-latin</string>
		<string>upper-alpha</string>
		<string>upper-latin</string>
		<string>hebrew</string>
		<string>armenian</string>
		<string>georgian</string>
		<string>cjk-ideographic</string>
		<string>hiragana</string>
		<string>katakana</string>
		<string>hiragana-iroha</string>
		<string>none</string>
		<string>inherit</string>
	</array>
	<key>list-style-image</key>
	<array>
		<string>none</string>
		<string>inherit</string>
		<string>-webkit-gradient()</string>
		<string>-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#000))</string>
		<string>-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#000), color-stop(.5,#666))</string>
		<string>-moz-linear-gradient()</string>
		<string>-moz-linear-gradient(0% 100% 90deg,#000, #fff)</string>
		<string>-moz-linear-gradient(0% 100% 90deg,#000, #666, #fff 100%)</string>
	</array>
	<key>list-style-position</key>
	<array>
		<string>inside</string>
		<string>outside</string>
		<string>inherit</string>
	</array>
	<key>list-style-type</key>
	<array>
		<string>disc</string>
		<string>circle</string>
		<string>square</string>
		<string>decimal</string>
		<string>decimal-leading-zero</string>
		<string>lower-roman</string>
		<string>upper-roman</string>
		<string>lower-greek</string>
		<string>lower-alpha</string>
		<string>lower-latin</string>
		<string>upper-alpha</string>
		<string>upper-latin</string>
		<string>hebrew</string>
		<string>armenian</string>
		<string>georgian</string>
		<string>cjk-ideographic</string>
		<string>hiragana</string>
		<string>katakana</string>
		<string>hiragana-iroha</string>
		<string>none</string>
		<string>inherit</string>
	</array>
	<key>margin</key>
	<array>
		<string>inherit</string>
	</array>
	<key>margin-bottom</key>
	<array>
		<string>auto</string>
		<string>inherit</string>
	</array>
	<key>margin-left</key>
	<array>
		<string>auto</string>
		<string>inherit</string>
	</array>
	<key>margin-right</key>
	<array>
		<string>auto</string>
		<string>inherit</string>
	</array>
	<key>margin-top</key>
	<array>
		<string>auto</string>
		<string>inherit</string>
	</array>
	<key>marker-offset</key>
	<array>
		<string>auto</string>
		<string>inherit</string>
	</array>
	<key>max-height</key>
	<array>
		<string>none</string>
		<string>inherit</string>
	</array>
	<key>max-width</key>
	<array>
		<string>none</string>
		<string>inherit</string>
	</array>
	<key>min-height</key>
	<array>
		<string>inherit</string>
	</array>
	<key>min-width</key>
	<array>
		<string>inherit</string>
	</array>
	<key>opacity</key>
	<array>
		<string>inherit</string>
	</array>
	<key>orphans</key>
	<array>
		<string>inherit</string>
	</array>
	<key>outline</key>
	<array>
		<string>@color</string>
		<string>rgba()</string>
		<string>invert</string>
		<string>none</string>
		<string>hidden</string>
		<string>dotted</string>
		<string>dashed</string>
		<string>solid</string>
		<string>double</string>
		<string>groove</string>
		<string>ridge</string>
		<string>inset</string>
		<string>outset</string>
		<string>thin</string>
		<string>medium</string>
		<string>thick</string>
		<string>inherit</string>
	</array>
	<key>outline-color</key>
	<array>
		<string>@color</string>
		<string>rgba()</string>
		<string>invert</string>
		<string>inherit</string>
	</array>
	<key>outline-style</key>
	<array>
		<string>none</string>
		<string>hidden</string>
		<string>dotted</string>
		<string>dashed</string>
		<string>solid</string>
		<string>double</string>
		<string>groove</string>
		<string>ridge</string>
		<string>inset</string>
		<string>outset</string>
		<string>inherit</string>
	</array>
	<key>outline-width</key>
	<array>
		<string>thin</string>
		<string>medium</string>
		<string>thick</string>
		<string>inherit</string>
	</array>
	<key>overflow</key>
	<array>
		<string>visible</string>
		<string>hidden</string>
		<string>scroll</string>
		<string>auto</string>
		<string>inherit</string>
	</array>
	<key>padding</key>
	<array>
		<string>inherit</string>
	</array>
	<key>padding-bottom</key>
	<array>
		<string>inherit</string>
	</array>
	<key>padding-left</key>
	<array>
		<string>inherit</string>
	</array>
	<key>padding-right</key>
	<array>
		<string>inherit</string>
	</array>
	<key>padding-top</key>
	<array>
		<string>inherit</string>
	</array>
	<key>page</key>
	<array>
		<string>auto</string>
	</array>
	<key>page-break-after</key>
	<array>
		<string>auto</string>
		<string>always</string>
		<string>avoid</string>
		<string>left</string>
		<string>right</string>
		<string>inherit</string>
	</array>
	<key>page-break-before</key>
	<array>
		<string>auto</string>
		<string>always</string>
		<string>avoid</string>
		<string>left</string>
		<string>right</string>
		<string>inherit</string>
	</array>
	<key>page-break-inside</key>
	<array>
		<string>auto</string>
		<string>avoid</string>
		<string>inherit</string>
	</array>
	<key>pause</key>
	<array>
		<string>inherit</string>
	</array>
	<key>pause-after</key>
	<array>
		<string>inherit</string>
	</array>
	<key>pause-before</key>
	<array>
		<string>inherit</string>
	</array>
	<key>pitch</key>
	<array>
		<string>x-low</string>
		<string>low</string>
		<string>medium</string>
		<string>high</string>
		<string>x-high</string>
		<string>inherit</string>
	</array>
	<key>pitch-range</key>
	<array>
		<string>inherit</string>
	</array>
	<key>play-during</key>
	<array>
		<string>auto</string>
		<string>none</string>
	</array>
	<key>position</key>
	<array>
		<string>static</string>
		<string>relative</string>
		<string>absolute</string>
		<string>fixed</string>
		<string>inherit</string>
	</array>
	<key>quotes</key>
	<array>
		<string>none</string>
		<string>inherit</string>
	</array>
	<key>richness</key>
	<array>
		<string>inherit</string>
	</array>
	<key>right</key>
	<array>
		<string>auto</string>
		<string>inherit</string>
	</array>
	<key>size</key>
	<array>
		<string>auto</string>
		<string>portrait</string>
		<string>landscape</string>
	</array>
	<key>speak</key>
	<array>
		<string>normal</string>
		<string>none</string>
		<string>spell-out</string>
		<string>inherit</string>
	</array>
	<key>speak-header</key>
	<array>
		<string>once</string>
		<string>always</string>
		<string>inherit</string>
	</array>
	<key>speak-numeral</key>
	<array>
		<string>digits</string>
		<string>continuous</string>
		<string>inherit</string>
	</array>
	<key>speak-punctuation</key>
	<array>
		<string>code</string>
		<string>none</string>
		<string>inherit</string>
	</array>
	<key>speech-rate</key>
	<array>
		<string>x-slow</string>
		<string>slow</string>
		<string>medium</string>
		<string>fast</string>
		<string>x-fast</string>
		<string>faster</string>
		<string>slower</string>
		<string>inherit</string>
	</array>
	<key>stress</key>
	<array>
		<string>inherit</string>
	</array>
	<key>table-layout</key>
	<array>
		<string>auto</string>
		<string>fixed</string>
	</array>
	<key>text-align</key>
	<array>
		<string>left</string>
		<string>right</string>
		<string>center</string>
		<string>justify</string>
		<string>inherit</string>
	</array>
	<key>text-decoration</key>
	<array>
		<string>none</string>
		<string>underline</string>
		<string>overline</string>
		<string>line-through</string>
		<string>blink</string>
		<string>inherit</string>
	</array>
	<key>text-indent</key>
	<array>
		<string>inherit</string>
		<string>-9999px</string>
	</array>
	<key>text-shadow</key>
	<array>
		<string>inherit</string>
		<string>none</string>
	</array>
	<key>text-transform</key>
	<array>
		<string>capitalize</string>
		<string>uppercase</string>
		<string>lowercase</string>
		<string>none</string>
		<string>inherit</string>
	</array>
	<key>top</key>
	<array>
		<string>auto</string>
		<string>inherit</string>
	</array>
	<key>unicode-bidi</key>
	<array>
		<string>normal</string>
		<string>embed</string>
		<string>bidi-override</string>
		<string>inherit</string>
	</array>
	<key>vertical-align</key>
	<array>
		<string>baseline</string>
		<string>sub</string>
		<string>super</string>
		<string>top</string>
		<string>text-top</string>
		<string>middle</string>
		<string>bottom</string>
		<string>text-bottom</string>
		<string>inherit</string>
	</array>
	<key>visibility</key>
	<array>
		<string>visible</string>
		<string>hidden</string>
		<string>collapse</string>
		<string>inherit</string>
	</array>
	<key>voice-family</key>
	<array>
		<string>inherit</string>
	</array>
	<key>volume</key>
	<array>
		<string>silent</string>
		<string>x-soft</string>
		<string>soft</string>
		<string>medium</string>
		<string>loud</string>
		<string>x-loud</string>
		<string>inherit</string>
	</array>
	<key>white-space</key>
	<array>
		<string>normal</string>
		<string>pre</string>
		<string>nowrap</string>
		<string>inherit</string>
	</array>
	<key>widows</key>
	<array>
		<string>inherit</string>
	</array>
	<key>width</key>
	<array>
		<string>auto</string>
		<string>inherit</string>
	</array>
	<key>word-spacing</key>
	<array>
		<string>normal</string>
		<string>inherit</string>
	</array>
	<key>z-index</key>
	<array>
		<string>auto</string>
		<string>inherit</string>
	</array>
	<key>-webkit-border-radius</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-border-top-left-radius</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-border-top-right-radius</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-border-bottom-left-radius</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-border-bottom-right-radius</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-box-shadow</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-transform</key>
	<array>
		<string>rotate()</string>
		<string>rotate(deg)</string>
	</array>
	<key>-webkit-transition</key>
	<array>
		<string>opacity</string>
		<string>linear</string>
	</array>
	<key>-webkit-transition-property</key>
	<array>
		<string>opacity</string>
	</array>
	<key>-webkit-transition-delay</key>
	<array>
		<string>1s</string>
	</array>
	<key>-webkit-transition-duration</key>
	<array>
		<string>1s</string>
	</array>
	<key>-webkit-transition-timing-function</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-user-drag</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-user-modify</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-user-select</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-font-smoothing</key>
	<array>
		<string>none</string>
		<string>subpixel-antialiased</string>
		<string>antialiased</string>
	</array>
	<key>-webkit-animation</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-animation-delay</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-animation-direction</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-animation-duration</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-animation-iteration-count</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-animation-name</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-animation-play-state</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-animation-timing-function</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-appearance</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-backface-visibility</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-background-clip</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-background-composite</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-background-origin</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-background-size</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-border-horizontal-spacing</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-border-image</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-border-vertical-spacing</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-box-align</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-box-direction</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-box-flex</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-box-flex-group</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-box-lines</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-box-ordinal-group</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-box-orient</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-box-pack</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-box-reflect</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-box-sizing</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-column-break-after</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-column-break-before</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-column-break-inside</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-column-count</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-column-gap</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-column-rule</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-column-rule-color</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-column-rule-style</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-column-rule-width</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-column-width</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-columns</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-dashboard-region</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-line-break</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-margin-bottom-collapse</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-margin-collapse</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-margin-start</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-margin-top-collapse</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-marquee</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-marquee-direction</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-marquee-increment</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-marquee-repetition</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-marquee-speed</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-marquee-style</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-mask</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-mask-attachment</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-mask-box-image</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-mask-clip</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-mask-composite</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-mask-image</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-mask-origin</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-mask-position-x</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-mask-position-y</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-mask-repeat</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-mask-size</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-nbsp-mode</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-padding-start</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-perspective</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-perspective-origin</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-rtl-ordering</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-tap-highlight-color</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-text-fill-color</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-text-security</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-text-size-adjust</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-text-stroke</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-text-stroke-color</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-text-stroke-width</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-touch-callout</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-transform-origin</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-transform-origin-x</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-transform-origin-y</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-transform-origin-z</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-webkit-transform-style</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-moz-border-radius</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-moz-border-radius-topleft</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-moz-border-radius-topright</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-moz-border-radius-bottomleft</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-moz-border-radius-bottomright</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-moz-user-modify</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-moz-user-select</key>
	<array>
		<string>inherit</string>
	</array>
	<key>-moz-transform</key>
	<array>
		<string>rotate()</string>
		<string>rotate(deg)</string>
	</array>
	<key>-moz-box-shadow</key>
	<array>
		<string>inherit</string>
	</array>
	<key>box-shadow</key>
	<array>
		<string>inherit</string>
	</array>
	<key>transform</key>
	<array>
		<string>scale()</string>
		<string>scaleZ()</string>
		<string>rotate()</string>
		<string>rotateX()</string>
		<string>rotateY()</string>
		<string>rotateZ()</string>
		<string>translate()</string>
		<string>translateZ()</string>
		<string>skew()</string>
	</array>
	<key>transform-origin</key>
	<array>
		<string>inherit</string>
	</array>
	<key>zoom</key>
	<array>
		<string>1</string>
	</array>
</dict>
</plist>
